/**
 * AnVy Fashion - frame.css
 * @author: LongNN <longnn@cyworld.vn>
 * createDate: 2012.04.19
**/

/********** COMMON **********/
body{background-color:#e6e6e6;}

.overlay{background-color:#000000;display:none;height: 100%;left: 0;opacity: 0.7;position: fixed;top: 0;width: 100%;z-index: 1000;filter: alpha(opacity = 70);}

.navibar{height:40px;overflow:hidden;position:absolute;top:0;left:0;width:980px;}
.navibar li{float:left;}
.navibar li.home a{display:inline-block;width:171px;height:40px;background:url('../images/button/button.png') no-repeat 0 0 transparent;}
.navibar li.home a:hover{background:url('../images/button/button.png') no-repeat 0 -45px transparent;text-decoration:none;}
.navibar li.home a.ac{background:url('../images/button/button.png') no-repeat 0 -45px transparent;cursor:default;}
.navibar li.dress a{display:inline-block;width:78px;height:40px;background:url('../images/button/button.png') no-repeat 0 -90px transparent;}
.navibar li.dress a:hover{background:url('../images/button/button.png') no-repeat 0 -135px transparent;text-decoration:none;}
.navibar li.dress a.ac{background:url('../images/button/button.png') no-repeat 0 -135px transparent;cursor:default;}
.navibar li.congso a{display:inline-block;width:163px;height:40px;background:url('../images/button/button.png') no-repeat 0 -180px transparent;}
.navibar li.congso a:hover{background:url('../images/button/button.png') no-repeat 0 -225px transparent;text-decoration:none;}
.navibar li.congso a.ac{background:url('../images/button/button.png') no-repeat 0 -225px transparent;cursor:default;}
.navibar li.aobong a{display:inline-block;width:186px;height:40px;background:url('../images/button/button.png') no-repeat 0 -270px transparent;}
.navibar li.aobong a:hover{background:url('../images/button/button.png') no-repeat 0 -315px transparent;text-decoration:none;}
.navibar li.aobong a.ac{background:url('../images/button/button.png') no-repeat 0 -315px transparent;cursor:default;}
.navibar li.aoda a{display:inline-block;width:101px;height:40px;background:url('../images/button/button.png') no-repeat 0 -360px transparent;}
.navibar li.aoda a:hover{background:url('../images/button/button.png') no-repeat 0 -405px transparent;text-decoration:none;}
.navibar li.aoda a.ac{background:url('../images/button/button.png') no-repeat 0 -405px transparent;cursor:default;}
.navibar li.phukien a{display:inline-block;width:133px;height:40px;background:url('../images/button/button.png') no-repeat 0 -450px transparent;}
.navibar li.phukien a:hover{background:url('../images/button/button.png') no-repeat 0 -495px transparent;text-decoration:none;}
.navibar li.phukien a.ac{background:url('../images/button/button.png') no-repeat 0 -495px transparent;cursor:default;}
.navibar li.news a{display:inline-block;width:148px;height:40px;background:url('../images/button/button.png') no-repeat 0 -540px transparent;}
.navibar li.news a:hover{background:url('../images/button/button.png') no-repeat 0 -585px transparent;text-decoration:none;}
.navibar li.news a.ac{background:url('../images/button/button.png') no-repeat 0 -585px transparent;cursor:default;}

.slide{width:750px;background:url('../images/bgr/bgr_slide.png') no-repeat center bottom transparent;padding-bottom:24px;position:relative;}
.slide .btn_prev{display:inline-block;width:36px;height:58px;background:url('../images/icon/icon_btn_slide.png') no-repeat 0 0 transparent;position:absolute;top:78px;left:26px;}
.slide .btn_prev:hover{background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -63px transparent;text-decoration:none;}
.slide .btn_next{display:inline-block;width:36px;height:58px;background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -120px transparent;position:absolute;top:78px;right:48px;}
.slide .btn_next:hover{background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -183px transparent;text-decoration:none;}
.slide .slide_main{width:560px;overflow:hidden;margin-left:80px;}
.slide .slide_main ul{width:1000px;}
.slide .slide_main ul li{float:left;margin-right:16px;}
.slide .slide_main ul li a img{border:5px solid #fff;}

.slide_vertical{width:128px;position:relative;padding:40px 0px 40px 0px;}
.slide_vertical .btn_up{display:inline-block;width:50px;height:35px;background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -245px transparent;position:absolute;top:0px;left:38px;}
.slide_vertical .btn_up:hover{width:50px;height:35px;background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -285px transparent;}
.slide_vertical .btn_down{display:inline-block;width:50px;height:32px;background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -325px transparent;position:absolute;bottom:0px;left:38px;}
.slide_vertical .btn_down:hover{width:50px;height:32px;background:url('../images/icon/icon_btn_slide.png') no-repeat 0 -362px transparent;}
.slide_vertical .slide_vertical_main{width:128px;height:655px;overflow:hidden;}
.slide_vertical .slide_vertical_main ul{height:1000px;}
.slide_vertical .slide_vertical_main ul li{margin-bottom:14px;*line-height:0;}
.slide_vertical .slide_vertical_main ul li img{display:block;border:5px solid #fff;}

.paging{}
.paging a,.paging span{float:left;display:inline-block;}
.paging a:hover{text-decoration:none;}
.paging .number{color:#5e5e5e;}
.paging .ac{color:#ff9524;cursor:default;}
.paging .first{width:7px;height:9px;background:url('../images/icon/icon_paging.png') no-repeat 0 0 transparent;margin-top:3px;}
.paging .vert_line{width:1px;height:13px;background:url('../images/icon/icon_paging.png') no-repeat 0 -14px transparent;margin:1px 4px;}
.paging .back{width:11px;height:9px;background:url('../images/icon/icon_paging.png') no-repeat 0 -32px transparent;margin:3px 10px 0px 0px;}
.paging .dot{width:5px;height:5px;background:url('../images/icon/icon_paging.png') no-repeat 0 -74px transparent;margin:5px 5px;}
.paging .next{width:11px;height:9px;background:url('../images/icon/icon_paging.png') no-repeat 0 -46px transparent;margin:3px 0px 0px 10px;}
.paging .last{width:7px;height:9px;background:url('../images/icon/icon_paging.png') no-repeat 0 -60px transparent;margin-top:3px;}

.padding_collec{width:132px;}
.padding_collec .button .btn_back{width:23px;height:23px;background:url('../images/icon/icon_paging.png') no-repeat 0 -89px transparent;float:left;}
.padding_collec .button .btn_back:hover{background:url('../images/icon/icon_paging.png') no-repeat 0 -117px transparent;}
.padding_collec .button .btn_next{width:23px;height:23px;background:url('../images/icon/icon_paging.png') no-repeat 0 -145px transparent;float:left;}
.padding_collec .button .btn_next:hover{background:url('../images/icon/icon_paging.png') no-repeat 0 -173px transparent;}
.padding_collec .button p{font-size:12px;font-weight:bold;color:#000;float:left;padding-top:5px;margin:0px 6px 0px 6px;}
.padding_collec .button p span{display:inline-block;width:5px;height:5px;background:url('../images/icon/icon_paging.png') no-repeat 0 -74px transparent;margin:0px 4px 0px 4px;}
.padding_collec .number{text-align:center;color:#5e5e5e;font-size:12px;}
.padding_collec .number span{color:#ff9524;}

.popup_info{background-color:#76882e;width:433px;padding:0px 8px 8px 7px;}
.popup_info .popup_hd{background:url('../images/bgr/bgr_popup_hd.png') no-repeat left top;padding-top:29px;padding-bottom:15px;}
.popup_info .popup_hd .title{font-size:14px;color:#fff;text-transform:uppercase;font-weight:bold;float:left;padding-top:22px;}
.popup_info .popup_hd img{display:block;float:right;}
.popup_info .popup_main{width:431px;background-color:#fff;padding:1px;}
.popup_info .popup_main table{border:1px solid #575757;}
.popup_info .popup_main table tr td{color:#575757;font-size:14px;padding:10px 0px 5px 0px;}
.popup_info .popup_main table tr td.cot1{width:126px;border-right:1px solid #575757;border-bottom:1px solid #575757;padding-left:24px;background-color:#f3f3f3;}
.popup_info .popup_main table tr td.cot2{width:92px;border-right:1px solid #575757;border-bottom:1px solid #575757;text-align:center;}
.popup_info .popup_main table tr td.cot3{width:92px;border-right:1px solid #575757;border-bottom:1px solid #575757;text-align:center;}
.popup_info .popup_main table tr td.cot4{width:92px;border-bottom:1px solid #575757;text-align:center;}
.popup_info .popup_main table tr.tieude td{font-weight:bold;background-color:#f3f3f3;}
.popup_info .popup_main table tr.last td{border-bottom:none;}

.popup_photo{background-color:#1f1f1f;position:absolute;padding:11px 130px 8px 130px;z-index:1500;width:512px;}
.popup_photo .photo{width:508px;overflow:hidden;}
.popup_photo .photo img{display:block;}
.popup_photo .option{padding-top:7px;}
.popup_photo .option .photo_name{font-size:14px;color:#7e7e7e;float:left;width:370px;word-wrap:break-word;font-weight:bold;}
.popup_photo .option .btn_buy{float:right;display:inline-block;width:102px;height:21px;background:url('../images/button/btn_datmua.png') no-repeat 0 0 transparent;}
.popup_photo .option .btn_buy:hover{text-decoration:none;}
.popup_photo .btn_exit{display:inline-block;width:64px;height:18px;background:url('../images/button/btn_exit.png') no-repeat 0 0 transparent;position:absolute;top:11px;right:13px;}
.popup_photo .btn_exit:hover{text-decoration:none;}
/********** E: COMMON **********/

/********** LAYOUT **********/
.wrapper{width:980px;margin:6px auto;}
.wrapper .header{margin-bottom:7px;}
.wrapper .header .logo{display:inline-block;width:186px;height:82px;float:left;background:url('../images/other/logo_small.png') no-repeat 0 0 transparent;}
.wrapper .header .menu_main{float:right;margin-top:12px;}
.wrapper .header .menu_main a{font-size:12px;font-weight:bold;color:#005e71;}
.wrapper .header .menu_main a.bdr{background:url('../images/icon/icon_border_r.png') no-repeat right 50% transparent;padding-right:12px;margin-right:9px;}

.wrapper .adv{background-color:#d1d1d1;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;height:103px;overflow:hidden;}
.wrapper .adv .sales_news{float:left;width:800px;}
.wrapper .adv .sales_news .sales_news_top{height:19px;background:url('../images/bgr/bgr_news_sales_box.png') no-repeat 0 0 #d1d1d1;font-size:15px;font-weight:bold;text-transform:uppercase;color:#fff;padding:4px 0px 0px 16px;margin-bottom:7px;}
.wrapper .adv .sales_news .sales_news_main{font-weight:bold;color:#373535;text-align:justify;padding-left:17px;}
.wrapper .adv .hotline{float:right;background:url('../images/bgr/hotline.png') no-repeat 0 0 transparent;width:156px;height:90px;padding:13px 0px 0px 9px;}
.wrapper .adv .hotline .title{font-size:13px;color:#fff;margin-bottom:6px;}
.wrapper .adv .hotline .sales{font-size:15px;font-weight:bold;color:#fff;margin-bottom:7px;}
.wrapper .adv .hotline .phone{font-size:17px;font-weight:bold;color:#000;}
.wrapper .adv .hotline .email{font-size:12px;font-weight:bold;color:#000;}

.wrapper .footer{font-size:10px;font-weight:bold;color:#545454;margin-top:19px;}
.wrapper .footer span{position:relative;top:-1px;}
/********** E: LAYOUT **********/

/********** HOME **********/
.home_wrapper{width:980px;margin:39px auto;}
.home_wrapper .top{margin-bottom:13px;}
.home_wrapper .top a{display:inline-block;}
.home_wrapper .top img{display:block;}
.home_wrapper .main{width:716px;overflow:hidden;margin-bottom:16px;}
.home_wrapper .main ul{width:800px;}
.home_wrapper .main ul li{float:left;margin-right:21px;}
.home_wrapper .main ul li img{display:block;border:4px solid #fff;}
.home_wrapper .news{width:716px;height:160px;background:url('../images/bgr/bgr_trans.png') repeat 0 0 transparent;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;margin-bottom:15px;}
.home_wrapper .menu{background:url('../images/bgr/bgr_trans.png') repeat 0 0 transparent;font-size:12px;color:#75882e;font-weight:bold;padding:4px 0px 3px 8px;}
.home_wrapper .menu a{color:#75882e;}
.home_wrapper .menu span{padding:0px 2px 0px 10px;}
/********** E: HOME **********/

/********** HOME 02 **********/
.wrapper .content_home{background:url('../images/bgr/bgr_main_home2.png') no-repeat center top transparent;padding:3px;height:532px;overflow:hidden;margin-bottom:7px;}
.wrapper .content_home ul{float:right;}
.wrapper .content_home ul li{margin-bottom:1px;line-height:0;}
.wrapper .content_home ul li img{display:block;}
.wrapper .adv_home{background-color:#141c1b;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;height:103px;overflow:hidden;}
.wrapper .adv_home .news_box{width:469px;float:left;padding-left:9px;margin-right:18px;}
.wrapper .adv_home .news_box .news_box_top{background:url('../images/bgr/border_news_box.gif') repeat-x center bottom;padding:4px 0px 3px 0px;margin-bottom:7px;}
.wrapper .adv_home .news_box .news_box_top p{float:left;font-size:11px;font-weight:bold;color:#e6e6e6;}
.wrapper .adv_home .news_box .news_box_top .btn_seemore{display:inline-block;float:right;width:14px;height:12px;background:url('../images/icon/icon_see_more.png') no-repeat 0 0 transparent;margin:2px 4px 0px 0px;}
.wrapper .adv_home .news_box .news_box_main ul li{margin-bottom:8px;}
.wrapper .adv_home .news_box .news_box_main ul li .title{background:url('../images/icon/icon_list.png') no-repeat left 50%;color:#c9c9c9;font-size:11px;font-weight:bold;padding-left:18px;}
.wrapper .adv_home .news_box .news_box_main ul li .title a{font-size:9px;color:#ff8113;}
.wrapper .adv_home .news_box .news_box_main ul li .title a:hover{text-decoration:none;}
.wrapper .adv_home .news_box .news_box_main ul li p{color:#c9c9c9;font-size:11px;padding-left:18px;}
.wrapper .adv_home .sales_box{width:280px;height:95px;background:url('../images/bgr/bgr_sales_box.png') no-repeat 0 0 transparent;float:left;padding:4px 19px;}
.wrapper .adv_home .sales_box p{width:276px;font-size:11px;color:#fff;}
.wrapper .adv_home .sales_box p.title{font-weight:bold;margin-bottom:10px;}
.wrapper .adv_home .hotline_box{float:right;}
.wrapper .adv_home .hotline_box img{display:block;}
/********** E: HOME 02 **********/

/********** DRESS **********/
.content_dress{height:498px;overflow:hidden;background:url('../images/bgr/bgr_main_dress.png') no-repeat center top transparent;margin-bottom:7px;position:relative;padding:40px 3px 3px 3px;}
.content_dress .photo{width:750px;padding-top:123px;}
.content_dress .photo .paging{margin-left:297px;}
/********** E: DRESS **********/

/********** AO DA **********/
.content_aoda{height:498px;overflow:hidden;background:url('../images/bgr/bgr_main_aoda.png') no-repeat center top transparent;margin-bottom:7px;position:relative;padding:40px 3px 3px 3px;}
.content_aoda .photo{width:750px;padding-top:123px;}
.content_aoda .photo .paging{margin-left:297px;}
/********** E: AO DA **********/

/********** CONG SO **********/
.content_congso{height:498px;overflow:hidden;background:url('../images/bgr/bgr_main_congso.png') no-repeat center top transparent;margin-bottom:7px;position:relative;padding:40px 3px 3px 3px;}
.content_congso .photo{width:750px;padding-top:123px;}
.content_congso .photo .paging{margin-left:297px;}
/********** E: CONG SO **********/

/********** AO TRAN BONG **********/
.content_tranbong{height:498px;overflow:hidden;background:url('../images/bgr/bgr_main_tranbong.png') no-repeat center top transparent;margin-bottom:7px;position:relative;padding:40px 3px 3px 3px;}
.content_tranbong .photo{width:750px;padding-top:123px;}
.content_tranbong .photo .paging{margin-left:297px;}
/********** E: AO TRAN BONG **********/

/********** DRESS DETAIL **********/
.dress_detail_top{width:980px;background:url('../images/bgr/bgr_dress_detail_top.png') no-repeat center top transparent;padding-top:8px;margin-bottom:7px;position:relative;}
.dress_detail_top .dress_detail_bot{width:980px;background:url('../images/bgr/bgr_dress_detail_bot.png') no-repeat center bottom transparent;padding-bottom:8px;}
.dress_detail_top .dress_detail_bot .dress_detail_main{width:980px;background:url('../images/bgr/bgr_dress_detail_main.png') repeat-y center top transparent;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail{background:url('../images/bgr/bgr_dress_detail_ct.png') no-repeat center bottom transparent;padding:40px 3px 30px 3px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main{padding:34px 27px 0px 24px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .photo{width:441px;height:430px;overflow:hidden;float:left;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .photo .left{float:left;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .photo .left img{display:block;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .photo .right{float:right;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .photo .right ul li{margin-bottom:26px;line-height:0;*margin-bottom:23px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .photo .right ul li img{display:block;border:5px solid #fff;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info{float:right;width:444px;overflow:hidden;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .btn_mua{display:inline-block;width:214px;height:66px;background:url('../images/button/btn_mua.png') no-repeat 0 0 transparent;float:right;margin-bottom:86px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .btn_mua:hover{text-decoration:none;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .info_main{width:400px;min-height:224px;height:auto !important;height:224px;float:right;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;background:url('../images/bgr/bgr_trans_intro.png') repeat 0 0 transparent;font-weight:bold;padding:27px 22px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .info_main table tr td{font-weight:bold;padding-bottom:3px;vertical-align:top;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .info_main table tr td.col1{width:127px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .info_main table tr td.col2 span{color:#ff1531;padding-left:10px;}
.dress_detail_top .dress_detail_bot .dress_detail_main .dress_detail .detail_main .info .info_main table tr td.col2 a{color:#ff8112;}
/********** E: DRESS DETAIL **********/

/********** NEWS **********/
.news_page_top{width:980px;background:url('../images/bgr/bgr_main_news_top.png') no-repeat center top transparent;position:relative;padding-top:8px;margin-bottom:7px;}
.news_page_top .news_page_bot{width:980px;background:url('../images/bgr/bgr_main_news_bot.png') no-repeat center bottom transparent;padding-bottom:8px;}
.news_page_top .news_page_bot .news_page{background:url('../images/bgr/bgr_main_news.png') repeat-y center top transparent;padding:40px 3px 3px 3px;}
.news_page_top .news_page_bot .news_page .back_top{position:absolute;right:19px;bottom:44px;}
.news_page_top .news_page_bot .news_page .content_news{padding:34px 22px 35px 25px;}
.news_page_top .news_page_bot .news_page .content_news .content_news_top{margin-bottom:25px;}
.news_page_top .news_page_bot .news_page .content_news .content_news_top img{display:block;}
.news_page_top .news_page_bot .news_page .content_news .news_main{overflow:hidden;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_hot{float:left;width:345px;overflow:hidden;position:relative;margin:0px 15px 15px 0px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_hot img{display:block;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_hot .intro_box{background:url('../images/bgr/bgr_trans_black.png') repeat 0 0 transparent;position:absolute;bottom:0;padding:12px 14px;width:317px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_hot .intro_box p{font-size:11px;color:#a6a6a6;font-weight:bold;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_hot .intro_box .title a{color:#dcdcdc;font-size:26px;margin-bottom:6px;display:inline-block;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list{float:right;width:544px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul{border-bottom:1px solid #c2c2c2;margin-bottom:11px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li{padding-bottom:17px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .photo_news{float:left;width:101px;margin-right:21px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .photo_news a img{display:block;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed{float:left;width:414px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed .top{height:89px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed .top p{}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed .top .title{font-size:14px;color:#373535;font-weight:bold;margin-bottom:9px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed .bot{color:#76892e;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed .bot .gach{display:inline-block;width:247px;background:url('../images/bgr/gach.png') repeat-x 0 80% transparent;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list ul li .news_feed .bot a{color:#ff8115;font-size:10px;}
.news_page_top .news_page_bot .news_page .content_news .news_main .news_list .paging{float:right;}

.news_page_top .news_page_bot .news_page .content_news .news_main .about .title{font-size:14px;font-weight:bold;margin-bottom:9px;}

.news_page_top .news_page_bot .news_page .content_collection{padding:28px 79px 0px 48px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left{float:left;width:586px;padding-top:5px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .photo_top{margin-bottom:14px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .photo_top img{display:block;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .photo_info{font-size:12px;font-weight:bold;color#373535;text-align:justify;margin-bottom:11px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .photo_info .title{font-size:18px;font-weight:bold;color:#7e7e7e;margin-bottom:8px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .collec_list .collec_list_top{text-align:center;background-color:#fff;font-size:12px;font-weight:bold;color:#373535;text-transform:uppercase;padding:4px 0px 2px 0px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .collec_list .collec_list_main{background:url('../images/bgr/bgr_collec_list.png') repeat-x center top transparent;padding:6px 0px 0px 23px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .collec_list .collec_list_main ul li{background:url('../images/icon/icon_list_tron.png') no-repeat 0 50% transparent;padding-left:12px;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .collec_list .collec_list_main ul li a{font-size:12px;font-weight:bold;color:#ff8115;}
.news_page_top .news_page_bot .news_page .content_collection .collec_left .collec_list .collec_list_main ul li a:hover{color:#000;}
.news_page_top .news_page_bot .news_page .content_collection .collec_right{float:right;}
.news_page_top .news_page_bot .news_page .content_collection .collec_right .padding_collec{margin-bottom:11px;}
/********** E: NEWS **********/

/********** CONTACT **********/
.contact_top{width:980px;background:url('../images/bgr/bgr_dress_detail_top.png') no-repeat center top transparent;padding-top:8px;margin-bottom:7px;position:relative;}
.contact_top .contact_bot{width:980px;background:url('../images/bgr/bgr_dress_detail_bot.png') no-repeat center bottom transparent;padding-bottom:8px;}
.contact_top .contact_bot .contact_ct{width:980px;background:url('../images/bgr/bgr_dress_detail_main.png') repeat-y center top transparent;}
.contact_top .contact_bot .contact_ct .contact{background:url('../images/bgr/bgr_dress_detail_ct.png') no-repeat center bottom transparent;padding:40px 3px 30px 3px;}
.contact_top .contact_bot .contact_ct .contact .contact_main{padding:34px 26px 0px 25px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .address{float:left;}
.contact_top .contact_bot .contact_ct .contact .contact_main .address ul li.tier1{margin-bottom:13px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .address ul li.tier1 img{display:block;}
.contact_top .contact_bot .contact_ct .contact .contact_main .address ul li.tier2{font-weight:bold;color:#314956;margin-bottom:5px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .address ul li.tier3{font-size:18px;color:#ff8115;text-transform:uppercase;font-weight:bold;margin-bottom:24px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .address ul li.tier4 img{display:block;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form{float:right;background:url('../images/bgr/bgr_contact_form.png') no-repeat 0 0 transparent;width:366px;height:385px;overflow:hidden;padding:45px 0px 0px 78px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li{margin-bottom:10px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li.btn{margin-bottom:21px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li label{font-size:11px;font-weight:bold;color:#314956;padding-bottom:2px;display:inline-block;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li .txt{border:1px solid #ddd;width:294px;margin:0;padding:3px 0px 3px 10px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li .tarea{border:1px solid #ddd;width:284px;height:83px;margin:0;padding:10px;overflow-x:hidden;overflow-y:auto;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li .btn_send{border:medium none;width:56px;height:23px;background:url('../images/button/button.gif') no-repeat 0 0 transparent;cursor:pointer;margin-right:4px;}
.contact_top .contact_bot .contact_ct .contact .contact_main .contact_form ul li .btn_refresh{border:medium none;width:74px;height:23px;background:url('../images/button/button.gif') no-repeat 0 -28px transparent;cursor:pointer;}
/********** E: CONTACT **********/
